@import url("https://fonts.googleapis.com/css2?family=Cousine&family=Libre+Baskerville&family=Roboto+Mono:wght@100;200&family=Urbanist:wght@100&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: auto;
}

.logo {
  width: 100%;
  border-radius: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  /* height: 100vh; */
}

.main-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4vh;
  margin: 3vh 0 23vh 0;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4.5vh;
  font-family: "Libre Baskerville", serif;
  padding: 0;
  margin: 0;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  font-family: "Libre Baskerville", serif;
  padding: 0;
  margin: 0;
}

.quote-and-author {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4vh;
  border: 1px solid purple;
  background-color: rgb(200, 200, 243);
  border-radius: 30px;
  font-weight: bolder;
  color: grey;
  width: 70%;
  height: 40%;
  margin: 0;
  padding: 8vh 1vw 8vh 1vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 10vw;
}

.bloc-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  padding: 2vh 0 8vh 0;
  margin: 0;
  height: 100%;
}

.content {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content-tabs {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #f5f5dc;
  height: 100vh;
}

.content p {
  width: 100%;
  height: 100%;
}

.tabs {
  border: none;
  outline: none;
  box-shadow: none;
  height: 8vh;
  width: 8vw;
  font-size: 2.5vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 7px;
  background-color: beige;
}

.tabs-logo {
  border: none;
  outline: none;
  box-shadow: none;
  width: 15vw;
  height: 7vh;
  background-color: beige;
}

.tabs:hover {
  cursor: pointer;
  color: maroon;
}

.tabs-logo:hover {
  cursor: pointer;
}

.active-tabs {
  background-color: beige;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.3);
  background-color: beige;
}

.modal-content {
  background-color: rgb(254, 199, 103);
  margin: 10% auto;
  padding: 2vh 2vw 4vh 2vw;
  border: 1px solid #888;
  width: 30%;
  border-radius: 20px;
}

.question-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.what-habits-q {
  text-align: center;
  width: 100%;
}

.buttons-q {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vh;
}

.add-more-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2.5vh;
  width: 2.5vh;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 2.5vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  padding: 0;
  margin: 0vh 0 0.5vh 0vw;
}

.add-more-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.8vh;
  width: 1.8vh;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 1.5vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  padding: 0;
  margin: 0 0 0 0;
}

.add-more-div-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1vh 0 0 0;
}

.add-more-div-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1vh 0 0 0;
}

.add-more:hover {
  cursor: pointer;
  color: gray;
  height: 2.5vh;
  width: 2.5vh;
}

.add-more-month:hover {
  cursor: pointer;
  color: gray;
}

.modal-color-plus-button {
  display: flex;
  flex-direction: row;
}

.input-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1vh;
  padding: 0 0 2vh 0;
  margin: 0;
}

button {
  border-radius: 5px;
  background-color: white;
}

.submit-q {
  height: 3vh;
  width: 10vw;
}

h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 3vh;
  color: gray;
}

.submit-q:hover {
  cursor: pointer;
}

#newElementId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.question-plus-answer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.answer {
  border-radius: 5px;
  height: 4vh;
  width: 13vw;
  padding: 0 0 0 1vw;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: gray;
  font-size: 2vh;
  margin: 0;
}

.days-tracked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: gray;
  font-size: 2vh;
  margin: 0; 
}

.main-questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 0.5vw 2vh 0.5vw;
  background-color: #add8e6;
  border-radius: 20px;
  color: white;
  width: 85%;
  margin: 5vh 0 3vh 0;
}

.main-questions-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 2vh 0;
  background-color: #add8e6;
  border-radius: 20px;
  color: white;
  /* width: 96%; */
  margin: 2.5vh 0 2.5vh 0;
}

.randdd {
  display: inline-block;
  padding: 0 1.65vw 0 1.65vw;
}

#checkboxes-plus-submit {
  display: flex;
  flex-direction: column;
  padding: 13vh 0 0 0;
  gap: 10vh;
}

.checkboxes-plus-chart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0;
}

#checkbox-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8vw;
  height: 100%;
}

.habits {
  width: 9vw;
  font-size: 9vw;
  padding: 0;
}

#newHabitId {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 2vh;
  text-align: center;
  width: 100%;
  padding: 3vh 0 3vh 0;
  margin: 0;
  color: gray;
  letter-spacing: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
}

.background-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.background-month {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 0 19vh 0;
  padding: 0;
}

.test {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.add-habit-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 0 0 0;
  font-family: "Urbanist", sans-serif;
}

.month-cell-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.test-one :first-child {
  width: 14vw;
}

.test-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.month-header-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 8vw;
  padding-top: 0px;
  margin: 0 0 0 2.2px;
  position: relative;
  top: 3.3vh;
}

.month-header-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.month-daysofweek,
.month-dayz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1.6vw;
  font-size: 0.8vw;
  text-align: center;
  width: 2.5vw;
  background-color: #81c8e0;
  margin: 2.2px;
  border-radius: 5px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  padding-top: 0.48vh;
}

thead {
  width: 100%;
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.back,
.next {
  padding: 0;
  margin: 0;
  height: 2vh;
  width: 1vw;
}

.back,
.next,
.backMonth,
.nextMonth:hover {
  cursor: pointer;
}

.nextAndBackButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  width: 80%;
}

.backMonth,
.nextMonth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.5vh;
  width: 0.75vw;
  margin: 0;
  padding: 0;
}

.currentMonth {
  font-size: 3vh;
  color: grey;
  font-family: "Cousine", monospace;
  font-weight: light;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-left: 1vw;
}

.month-nextAndBackButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vw;
  width: 8vw;
  text-align: center;
  font-size: 1vw;
  padding: 10px;
  margin: 10px;
  background-color: #81c8e0;
  font-size: 1.5vw;
  border-radius: 20px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.test > :not(:first-child):hover {
  cursor: pointer;
}

.month-cell:hover {
  cursor: pointer;
}

.cell-new-habit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 8vw;
  width: 14vw;
  text-align: center;
  font-size: 1vw;
  padding: 15px 10px 10px 11px;
  margin: 10px;
  background-color: #81c8e0;
  font-size: 1.5vw;
  border-radius: 20px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.dayz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4vw;
  font-size: 1.2vw;
  text-align: center;
  font-weight: 500;
  width: 8vw;
  background-color: #81c8e0;
  border-radius: 20px;
  margin: 10px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.input-box-week {
  width: 10vw;
  background-color: #81c8e0;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 3vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 7px;
}

.input-box-week::placeholder {
  color: white;
}

.input-box-month::placeholder {
  color: white;
}

.add-habit-x-button {
  font-size: 1.7vh;
  height: 1vh;
  padding: 0;
  margin: 0;
}

.add-habit-x-div {
  width: 100%;
}

.add-habit-x-div-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0;
  margin: 0 0 0 0;
  height: 100%;
}

.submit-button-month {
  border: none;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 3px;
  width: 3.5vw;
  height: 1.2vh;
  padding: 0.1vh 0vw 0.3vh 0.2vw;
  background-color: white;
  color: gray;
  margin: 0.1vh 0 0 0;
  font-size: 1.1vh;
  border-radius: 3px;
}

.option-month {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue; */
  font-size: 30vh;
}

.color-dropdown {
  background-color: #81c8e0;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.65vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0.5vh 0.5vh 0.5vh 0.5vh;
  margin: 0 0.5vw 0 0;
  outline: none;
  letter-spacing: 3px;
  text-align: center;
  width: 11vw;
}

.select-week {
  width: 100%;
}

.select-month {
  width: 100%;
  padding: -1vh 0 0 0;
  margin: 0;
  height: 100%;
}

.color-dropdown:hover {
  background-color: #add8e6;
}

.input-box-week:hover {
  background-color: #add8e6;
}

.input-box-month:hover {
  background-color: #add8e6;
  color: white;
}

.submit-button-week {
  border: none;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 3px;
  width: 4.3vw;
  height: 2vh;
  padding: 0.3vh 0.1vw 0 0.3vw;
  background-color: white;
  color: gray;
  margin: 0 0.5vw 0 0;
}

.submit-button-week:hover {
  background-color: #add8e6;
  color: white;
}

.submit-button-month:hover {
  background-color: #add8e6;
  color: white;
}

.dayz-habits-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4vw;
  font-size: 1.5vw;
  text-align: center;
  font-weight: 500;
  width: 8vw;
  background-color: #81c8e0;
  border-radius: 20px;
  margin: 10px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.month-dayz-habits-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3.5vw;
  font-size: 1.7vh;
  text-align: center;
  font-weight: 500;
  width: 8vw;
  background-color: #81c8e0;
  margin: 2.2px;
  border-radius: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.habit-table-month {
  margin: 0;
  padding: 0 0 0 0;
}

.add-habit-table {
  margin: 0 0 0 0;
  padding: 0;
}

.add-habit-row-month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.month-cell-new-habit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 2.6vw;
  width: 8vw;
  text-align: center;
  font-size: 1.7vh;
  padding: 5px;
  margin: 0;
  background-color: #81c8e0;
  border-radius: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.add-habit-x-button-month {
  font-size: 1vh;
  height: 1.5vh;
  padding: 0;
  margin: 0;
  width: 0.75vw;
}

.input-box-month {
  width: 6vw;
  height: 1.6vh;
  padding: 0.3vh 0vw 0.1vh 0.35vw;
  margin: 0.1vh 0 0 0;
  background-color: #81c8e0;
  border: none;
  color: white;
  text-align: center;
  border-radius: 2.5px;
  font-size: 1.85vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 7px;
}

.color-dropdown-month {
  background-color: #81c8e0;
  border: none;
  border-radius: 3.5px;
  color: white;
  font-size: 1vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 1px;
  width: 6vw;
  text-align: center;
  padding: 0;
  margin: 0.05vh 0 0 0;
  height: 35%;
}

.color-dropdown-month:hover {
  background-color: #add8e6;
}

.month-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.5vw;
  width: 2.5vw;
  text-align: center;
  font-size: 1vw;
  padding: 5px;
  margin: 2.2px;
  background-color: #81c8e0;
  border-radius: 6px;
}

tr {
  padding: 0;
}

.no-data-message {
  font-size: 5vh;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: bolder;
  padding: 5vh;
}

.cell-first {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 8vw;
  width: 14vw;
  text-align: center;
  font-size: 1vw;
  padding: 1.4vh;
  margin: 10px;
  background-color: #81c8e0;
  font-size: 1.5vw;
  border-radius: 20px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.x-button-div-week {
  margin: 0;
  padding: 0;
  width: 1vw;
}

.x-button-week {
  width: 0.7vw;
  height: 1.5vh;
  font-size: 1.6vh;
  margin: 0;
  padding: 0;
}

.x-button-week:hover {
  cursor: pointer;
  color: gray;
}

.x-button-month:hover {
  cursor: pointer;
  color: gray;
}

.activity-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 0.75vw;
  padding-top: 0.3vh;
}

.month-cell-habit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 2.6vw;
  width: 8vw;
  text-align: center;
  font-size: 1.7vh;
  padding: 5px;
  margin: 2px 2px 0 0;
  background-color: #81c8e0;
  border-radius: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.x-button-div-month {
  margin: 0;
  padding: 0;
}

.x-button-month {
  width: 0.75vw;
  height: 1.5vh;
  font-size: 1vh;
  margin: 0;
  padding: 0;
}

.activity-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 0.75vw;
  padding-top: 0.3vh;
}

.about-us {
  font-size: 1.7vh;
  font-weight: 300;
  padding: 3vh 0 4vh 0;
  margin: 0;
  height: 9vh;
  width: 10vw;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: gray;
}

.about-us:hover {
  color: black;
  cursor: pointer;
}

.month-view {
  width: 9.5vw;
  height: 4.5vh;
  font-size: 1.8vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
}

.week-view {
  width: 6.4vw;
  height: 3.5vh;
  font-size: 0.7vw;
  border: 1px solid black;
  border-radius: 9px;
}

.week-view:hover,
.month-view:hover {
  cursor: pointer;
  background-color: #add8e6;
  border: 1px solid #add8e6;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}
