* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue Power Trial";
  src: url("fontss/subset-NeuePowerTrial-Ultra.woff2") format("woff2"),
    url("fontss/subset-NeuePowerTrial-Ultra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* beginning */

html,
body {
  /* width: 100%; */
  height: 100%;
  margin: 0;
  background-color: #1d4938;
}

h2 {
  font-size: 6vh;
  color: #8bf1b5;
  padding: 0;
  margin: 0;
  font-family: Neue Power Trial;
}

.login-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1d4938;
  height: 80%;

  /* width: 100%; */
  /* border: 1px solid blue; */
  margin: 0;
  padding: 0;
}

/* signin and register css is the same  */

.signin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 40vw;
  /* height: 28vh; */
  border: 1px solid blue;
}

.register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
  /* height: 100%; */
  border: 1px solid blue;
  margin: 0;
  padding: 0;
}

.break-plus-or {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: 1px solid blue; */
  width: 5vw;
  padding: 0 3.5vw 0 3.5vw;
}

.break {
  border-top: none;
  border-left: 0.5px solid white;
  border-right: none;
  border-bottom: none;
  color: white;
  height: 14vh;
  /* width: 100%; */
}

.break-or {
  color: white;
  font-size: 1.1vh;
  padding: 0.65vh 0 0.65vh 0;
}

.no-account-signup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 2vh;
  color: #8bf1b5;
  padding: 1vh 0 4vh 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4vh;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.signup {
  color: #8bf1b5;
}

.login-box {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 100%;
}

.register-name,
.login-email,
.login-password {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #336a50;
  background-color: #1d4938;
  color: #8bf1b5;
  width: 18vw;
  height: 4vh;
  font-size: 1.8vh;
}

.register-name::placeholder,
.login-email::placeholder,
.login-password::placeholder {
  color: #8bf1b5;
}

.login-button {
  border: 1px solid #ffa201;
  background-color: #3f5530;
  color: white;
  width: 11vw;
  height: 4vh;
  text-align: left;
  padding-left: 1vw;
}

.login-button:hover {
  cursor: pointer;
}

.login-google,
.login-github {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 15vw;
  height: 5vh;
  color: white;
  border: none;
  border-radius: 0;
}

.login-google {
  background-color: #1b72e8;
}

.image-google {
  display: block;
  border: 1.65vh solid white;
  margin: 0;
  padding: 0;
  width: 5vh;
  height: 5vh;
}

.image-github {
  display: block;
  border: 1vh solid white;
  margin: 0;
  padding: 0;
  width: 5vh;
  height: 5vh;
}

.login-github {
  background-color: #000000;
}

.login-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
}

.quote-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid blue;
  padding: 0 0 0 10vw;
  height: 100%;
  background-color: #1d4938;
}

.quote-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid red;
  /* gap: 4vh; */
  width: 60vw;
  font-size: 1vh;
}

h1 {
  color: #8bf1b5;
}

.quote-user {
}

.quote {
  color: #8bf1b5;
  font-size: 9vh;
  width: 100%;
  padding: 1.5vh 0 4.5vh 0;
  line-height: 90%;
  font-family: Neue Power Trial;
}

.author {
  color: #8bf1b5;
  border: 1px solid pink;
  font-size: 2vh;
  padding: 0 0 0 3vw;
  white-space: nowrap;
}

.quote-button {
  border: 1.5px solid #ffa201;
  width: 14vw;
  height: 5.5vh;
  background-color: #3f5530;
  color: white;
  border-radius: 0.8vh;
  font-size: 2.5vh;
}

.about {
  border: 1px solid blue;
  width: 60%;
  margin: 0 0 0 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
}

.about-p {
  color: #8bf1b5;
  font-size: 2vh;
  line-height: 180%;
  padding: 0 0 0 0;
}

h6 {
}

h3 {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 10vh;
  line-height: 95%;
  font-family: Neue Power Trial;
}

p {
  padding: 0;
  margin: 0;
}

.background-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 5vh 0;
}

.nextAndBack-week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 80%;
}

.back,
.next {
  height: 2vh;
  width: 1vw;
}

.month-and-year-week {
  display: flex;
  flex-direction: column;
  height: 6vh;
  padding: 0;
  margin: 0;
  gap: 1.7vh;
  width: 40vw;
  text-align: center;
}

.year-week {
  font-family: "Cousine", monospace;
  font-weight: light;
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
  color: grey;
}

.main-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 0.5vw 2vh 0.5vw;
  border-radius: 25px;
  color: white;
  width: 85%;
  margin: 5vh 0 3vh 0;
}

.week-header-one :first-child {
  width: 14vw;
}

.week-header-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4vw;
  font-size: 1.2vw;
  text-align: center;
  font-weight: 500;
  width: 12vh;
  background-color: #81c8e0;
  border-radius: 15px;
  margin: 10px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.week-cell-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.week-cell-habit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 12vh;
  width: 18vw;
  text-align: center;
  font-size: 1vw;
  padding: 1.4vh;
  margin: 10px;
  background-color: #81c8e0;
  font-size: 1.5vw;
  border-radius: 12px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.x-button-week {
  width: 0.7vw;
  height: 1.5vh;
  font-size: 1.6vh;
}

.activity-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 0.75vw;
  padding-top: 0.3vh;
}

.week-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12vh;
  width: 12vh;
  text-align: center;
  font-size: 1vw;
  padding: 10px;
  margin: 10px;
  background-color: #81c8e0;
  font-size: 1.5vw;
  border-radius: 15px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.cell-new-habit-week {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 8vw;
  width: 14vw;
  text-align: center;
  font-size: 1vw;
  padding: 15px 10px 10px 11px;
  margin: 10px;
  background-color: #81c8e0;
  font-size: 1.5vw;
  border-radius: 20px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.add-habit-x-button-week {
  font-size: 1.7vh;
  height: 1vh;
  padding: 0;
  margin: 0;
}

.add-habit-x-div-week {
  width: 100%;
}

.input-box-week {
  width: 10vw;
  background-color: #81c8e0;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 3vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 7px;
}

.input-box-week::placeholder {
  color: white;
}

.add-more-div-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1vh 0 0 0;
}

.add-more-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2.5vh;
  width: 2.5vh;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 2.5vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  padding: 0;
  margin: 0vh 0 0.5vh 0vw;
}

.month-view {
  width: 9.5vw;
  height: 4.5vh;
  font-size: 1.8vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
}

/* ending */

input:focus {
  outline: none;
}

.layout-background {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.3);
  background-color: beige;
}

.modal-content {
  background-color: rgb(254, 199, 103);
  margin: 10% auto;
  padding: 2vh 2vw 4vh 2vw;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 40%;
  border-radius: 20px;
}

.modal-habit-input,
.modal-color-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vh;
}

.question-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.what-habits-q {
  font-family: "Cousine", monospace;
  text-align: center;
  width: 100%;
  font-size: 3vh;
}

.modal-question {
  height: 4vh;
  width: 15vw;
  border-radius: 5px;
  font-size: 2vh;
  padding-left: 0.5vw;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 3px;
  border: none;
}

.buttons-q {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vh;
}

.add-more-q-page {
  width: 1.5vw;
  height: 1.5vw;
  color: white;
  font-size: 2vh;
  font-family: "Cousine";
  border-radius: 50px;
  font-weight: bolder;
  background-color: rgb(254, 199, 103);

  border: 1.5px solid white;
}

.add-more-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.8vh;
  width: 1.8vh;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 1.5vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  padding: 0;
  margin: 0 0 0 0;
}

.add-more-div-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1vh 0 0 0;
}

.add-more:hover {
  cursor: pointer;
  color: gray;
  height: 2.5vh;
  width: 2.5vh;
}

.modal-color-plus-button {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.question-x {
  height: 4vh;
  border: none;
  background-color: rgb(254, 199, 103);
  color: white;
}

.input-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1vh;
  padding: 0 0 2vh 0;
  margin: 0;
}

button {
  border-radius: 5px;
  background-color: white;
}

.submit-q {
  height: 4vh;
  width: 10vw;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 2vh;
  border: none;
  color: grey;
}

h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 7px;
  font-size: 2.5vh;
  color: gray;
  padding: 0;
  margin: 0;
}

.stats-user {
  width: 5vw;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 7px;
  font-size: 2.5vh;
  padding: 0;
  margin: 0;
  color: gray;
  text-transform: uppercase;
}

#newElementId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.question-plus-answer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.answer {
  border-radius: 5px;
  height: 4vh;
  width: 13vw;
  padding: 0 0 0 1vw;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: gray;
  font-size: 2.3vh;
  margin: 0;
}

.days-tracked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: gray;
  font-size: 2vh;
  margin: 0;
}

.table-parent-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5vw 2vh 1.5vw;
  background-color: #add8e6;
  border-radius: 20px;
  color: white;
  margin: 2.5vh 0 2.5vh 0;
}

#checkboxes-plus-submit {
  display: flex;
  flex-direction: column;
  padding: 13vh 0 0 0;
  gap: 10vh;
}

.checkboxes-plus-chart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0;
}

#checkbox-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8vw;
  height: 100%;
}

.habits {
  width: 9vw;
  font-size: 9vw;
  padding: 0;
}

#newHabitId {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.stats-greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 3vh 0;
  width: 100%;
}

.background-month {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 0 19vh 0;
  padding: 0;
}

.month-cell-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.month-header-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 8vw;
  padding-top: 0px;
  margin: 0 0 0 2.2px;
  position: relative;
  top: 3.3vh;
}

.month-header-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.month-daysofweek,
.month-days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1.6vw;
  font-size: 0.8vw;
  text-align: center;
  width: 2.5vw;
  background-color: #81c8e0;
  margin: 2.2px;
  border-radius: 5px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  padding-top: 0.48vh;
}

thead {
  width: 100%;
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.back:hover,
.next:hover,
.backMonth:hover,
.nextMonth:hover,
.login-github:hover,
.add-more-q-page:hover,
.submit-q:hover,
.question-x:hover,
.add-more-month:hover .add-more-week:hover,
.month-cell:hover,
.x-button-week:hover,
.x-button-month:hover {
  cursor: pointer;
}

.backMonth,
.nextMonth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.5vh;
  width: 0.75vw;
}

.month-and-year {
  display: flex;
  flex-direction: column;
  height: 6vh;
  padding: 1.5vh 0 0 0;
  margin: 0 0 2.5vh 0.3vw;
  gap: 1vh;
  width: 15vw;
}

.month {
  font-size: 3vh;
  color: grey;
  font-family: "Cousine", monospace;
  font-weight: light;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
}

.year-month {
  font-family: "Cousine", monospace;
  font-weight: light;
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
  color: grey;
}

.nextAndBack-month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 100%;
}

.week-header-two > :not(:first-child):hover {
  cursor: pointer;
}

.input-box-month::placeholder {
  color: white;
}

.add-habit-x-div-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0;
  margin: 0 0 0 0;
  height: 100%;
}

.submit-button-month {
  border: none;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 3px;
  width: 3.5vw;
  height: 1.2vh;
  padding: 0.1vh 0vw 0.3vh 0.2vw;
  background-color: white;
  color: gray;
  margin: 0.1vh 0 0 0;
  font-size: 1.1vh;
  border-radius: 3px;
}

.color-dropdown-week {
  background-color: #81c8e0;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.65vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0.5vh 0.5vh 0.5vh 0.5vh;
  margin: 0 0.5vw 0 0;
  outline: none;
  letter-spacing: 3px;
  text-align: center;
  width: 11vw;
}

.select-week {
  width: 100%;
}

.select-month {
  width: 100%;
  padding: -1vh 0 0 0;
  margin: 0;
  height: 100%;
}

.color-dropdown-week:hover,
.input-box-week:hover,
.color-dropdown-month:hover {
  background-color: #add8e6;
}

.submit-button-week {
  border: none;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 3px;
  width: 4.3vw;
  height: 2vh;
  padding: 0.3vh 0.1vw 0 0.3vw;
  background-color: white;
  color: gray;
  margin: 0 0.5vw 0 0;
}

.submit-button-week:hover,
.submit-button-month:hover,
.input-box-month:hover {
  background-color: #add8e6;
  color: white;
}

.month-days-habits-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3.5vw;
  font-size: 1.7vh;
  text-align: center;
  font-weight: 500;
  width: 8vw;
  background-color: #81c8e0;
  margin: 2.2px;
  border-radius: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.add-habit-row-month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cell-new-habit-month {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 2.5vw;
  width: 8vw;
  text-align: center;
  font-size: 1.7vh;
  padding: 5px;
  margin: 0;
  background-color: #81c8e0;
  border-radius: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.add-habit-x-button-month {
  font-size: 1vh;
  height: 1.5vh;
  width: 0.75vw;
}

.input-box-month {
  width: 6vw;
  height: 1.6vh;
  padding: 0.3vh 0vw 0.1vh 0.35vw;
  margin: 0.1vh 0 0 0;
  background-color: #81c8e0;
  border: none;
  color: white;
  text-align: center;
  border-radius: 2.5px;
  font-size: 1.85vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 7px;
}

.color-dropdown-month {
  background-color: #81c8e0;
  border: none;
  border-radius: 3.5px;
  color: white;
  font-size: 1vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 1px;
  width: 6vw;
  text-align: center;
  padding: 0;
  margin: 0.05vh 0 0 0;
  height: 35%;
}

.month-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.5vw;
  width: 2.5vw;
  text-align: center;
  font-size: 1vw;
  padding: 5px;
  margin: 2.2px;
  background-color: #81c8e0;
  border-radius: 6px;
}

.month-cell-habit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 2.5vw;
  width: 8vw;
  text-align: center;
  font-size: 1.7vh;
  padding: 5px;
  margin: 2px 2px 0 0;
  background-color: #81c8e0;
  border-radius: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.x-button-month {
  width: 0.75vw;
  height: 1.5vh;
  font-size: 1vh;
}

.activity-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 0.75vw;
  padding-top: 0.3vh;
}

.week-view {
  width: 6.4vw;
  height: 3.5vh;
  font-size: 0.7vw;
  border: 1px solid black;
  border-radius: 9px;
}

.week-view:hover,
.month-view:hover {
  cursor: pointer;
  background-color: #add8e6;
  border: 1px solid #add8e6;
  color: white;
}

.error {
  text-align: center;
}

/* navbar start */
.nav-background {
  height: 20%;
}

.nav-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 7.5% 0 7.5%;
  height: 100%;
}

.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  height: 60%;
}

.logo {
  width: 100%;
  border-radius: 15px;
}

.chart-and-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25vw;
  height: 60%;
}

.nav-link {
  color: gray;
  text-decoration: none;
  padding: 1vh;
  border-radius: 6px;
  font-size: 1.75vh;
  text-align: center;
  letter-spacing: 6px;
}

.nav-link:hover {
  color: black;
  cursor: pointer;
}

/* navbar end */
