@import url("https://fonts.googleapis.com/css2?family=Cousine&family=Libre+Baskerville&family=Roboto+Mono:wght@100;200&family=Urbanist:wght@100&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #f5f5dc;
}

input:focus {
  outline: none;
}

.logo {
  width: 100%;
  border-radius: 15px;
}

.login-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 80%;
  padding: 5% 0 10% 0;
  background-color: #8caa91;
}

.nav-background {
  height: 20%;
}

.layout-background {
  height: 100%;
  width: 100%;
}

.navbar-background {
  border: 1px solid red;
}

.login-break {
  width: 15vw;
  color: black;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0 0 5% 0;
  padding: 6vh;
  gap: 1.8vh;
  font-family: "Cousine", monospace;
  letter-spacing: 3px;
  width: 28vw;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.register-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-family: "Cousine", monospace;
  margin: 0 0 5% 0;
  padding: 6vh;
  gap: 1.8vh;
  letter-spacing: 3px;
  width: 28vw;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 4vh;
  font-family: "Cousine", monospace;
  color: #8caa91;
  letter-spacing: 5px;
  padding: 0;
  margin: 0 0 1vh 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.5vh;
}

.login-name,
.login-email,
.login-password {
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  font-size: 2vh;
  font-family: "Cousine", monospace;
  letter-spacing: 5px;
  padding-left: 1vw;
}

.login-name:focus {
  outline: black;
}

.login-email:focus {
  outline: black;
}

.login-password:focus {
  outline: black;
}

.logo {
  height: 6vh;
}

.linkk {
  color: gray;
  text-decoration: none;
  padding: 1vh;
  border-radius: 6px;
  font-size: 1.75vh;
  text-align: center;
  letter-spacing: 6px;
}

.linkk:hover {
  color: black;
  cursor: pointer;
}

.login-button {
  width: 15vw;
  height: 4vh;
  font-size: 2vh;
  color: gray;
  font-family: "Cousine", monospace;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 7px;
}

.login-button:hover {
  cursor: pointer;
  color: black;
}

.login-github {
  width: 8vw;
  max-height: 4vh;
  font-family: "Cousine", monospace;
  border-radius: 5px;
}

.login-github:hover {
  cursor: pointer;
}

.login-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8vh;
}

.have-or-create-account {
  text-decoration: none;
  color: grey;
}

.have-or-create-account:hover {
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.main-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5vh;
  margin: 3vh 0 23vh 0;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4.5vh;
  font-family: "Libre Baskerville", serif;
  padding: 0;
  margin: 0;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  font-family: "Libre Baskerville", serif;
  padding: 0;
  margin: 0;
}

.quote-and-author {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4vh;
  border: 1px solid purple;
  background-color: rgb(200, 200, 243);
  border-radius: 30px;
  font-weight: bolder;
  color: grey;
  width: 70%;
  height: 40%;
  margin: 0;
  padding: 8vh 1vw 8vh 1vw;
}

.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 10vw;
  height: 60%;
}

.nav-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0 7.5% 0 7.5%;
  height: 100%;
}

.content {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content p {
  width: 100%;
  height: 100%;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.3);
  background-color: beige;
}

.modal-content {
  background-color: rgb(254, 199, 103);
  margin: 10% auto;
  padding: 2vh 2vw 4vh 2vw;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 40%;
  border-radius: 20px;
}

.modal-habit-input,
.modal-color-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vh;
}

.question-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.what-habits-q {
  font-family: "Cousine", monospace;
  text-align: center;
  width: 100%;
  font-size: 3vh;
}

.modal-question {
  height: 4vh;
  width: 15vw;
  border-radius: 5px;
  font-size: 2vh;
  padding-left: 0.5vw;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 3px;
  border: none;
}

.buttons-q {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vh;
}

.add-more-q-page {
  width: 1.5vw;
  height: 1.5vw;
  color: white;
  font-size: 2vh;
  font-family: "Cousine";
  border-radius: 50px;
  font-weight: bolder;
  background-color: rgb(254, 199, 103);

  border: 1.5px solid white;
}

.add-more-q-page:hover {
  cursor: pointer;
}

.add-more-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2.5vh;
  width: 2.5vh;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 2.5vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  padding: 0;
  margin: 0vh 0 0.5vh 0vw;
}

.add-more-week:hover {
  cursor: pointer;
}

.add-more-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.8vh;
  width: 1.8vh;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 1.5vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  padding: 0;
  margin: 0 0 0 0;
}

.add-more-div-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1vh 0 0 0;
}

.add-more-div-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1vh 0 0 0;
}

.add-more:hover {
  cursor: pointer;
  color: gray;
  height: 2.5vh;
  width: 2.5vh;
}

.add-more-month:hover {
  cursor: pointer;
}

.modal-color-plus-button {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.question-x {
  height: 4vh;
  border: none;
  background-color: rgb(254, 199, 103);
  color: white;
}

.question-x:hover {
  cursor: pointer;
}

.input-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1vh;
  padding: 0 0 2vh 0;
  margin: 0;
}

button {
  border-radius: 5px;
  background-color: white;
}

.submit-q {
  height: 4vh;
  width: 10vw;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 2vh;
  border: none;
  color: grey;
}

h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 7px;
  font-size: 2.5vh;
  color: gray;
  padding: 0;
  margin: 0;
}

.stats-user {
  width: 5vw;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 7px;
  font-size: 2.5vh;
  padding: 0;
  margin: 0;
  color: gray;
  text-transform: uppercase;
}

.submit-q:hover {
  cursor: pointer;
}

#newElementId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.question-plus-answer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.answer {
  border-radius: 5px;
  height: 4vh;
  width: 13vw;
  padding: 0 0 0 1vw;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.testtt {
  border: 1px solid red;
  font-size: 100px;
  color: black;
  height: 50px;
}

.month-and-year-week {
  display: flex;
  flex-direction: column;
  height: 6vh;
  padding: 0;
  margin: 0;
  gap: 1.7vh;
  width: 40vw;
  text-align: center;
}

.currentyear-week {
  font-family: "Cousine", monospace;
  font-weight: light;
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
  color: grey;
}

h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: gray;
  font-size: 2.3vh;
  margin: 0;
}

.days-tracked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: gray;
  font-size: 2vh;
  margin: 0;
}

.main-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 0.5vw 2vh 0.5vw;
  background-color: #add8e6;
  border-radius: 25px;
  color: white;
  width: 85%;
  margin: 5vh 0 3vh 0;
}

.table-parent-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5vw 2vh 1.5vw;
  background-color: #add8e6;
  border-radius: 20px;
  color: white;
  margin: 2.5vh 0 2.5vh 0;
}

.chart-and-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25vw;
  height: 60%;
}

#checkboxes-plus-submit {
  display: flex;
  flex-direction: column;
  padding: 13vh 0 0 0;
  gap: 10vh;
}

.checkboxes-plus-chart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0;
}

#checkbox-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8vw;
  height: 100%;
}

.habits {
  width: 9vw;
  font-size: 9vw;
  padding: 0;
}

#newHabitId {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 2vh;
  text-align: center;
  padding: 0;
  margin: 0;
  color: gray;
  letter-spacing: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
}

.quote-user {
  width: 5vw;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 7px;
  font-size: 2vh;
  padding: 0;
  margin: 0;
  color: gray;
  text-transform: uppercase;
}

.welcome-back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.stats-greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 3vh 0;
  width: 100%;
}

.background-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 5vh 0;
}

.background-month {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 0 19vh 0;
  padding: 0;
}

.week-cell-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.add-habit-row-week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 0 0 0;
  font-family: "Urbanist", sans-serif;
}

.month-cell-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.week-header-one :first-child {
  width: 14vw;
}

.week-header-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.month-header-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 8vw;
  padding-top: 0px;
  margin: 0 0 0 2.2px;
  position: relative;
  top: 3.3vh;
}

.month-header-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.month-daysofweek,
.month-days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1.6vw;
  font-size: 0.8vw;
  text-align: center;
  width: 2.5vw;
  background-color: #81c8e0;
  margin: 2.2px;
  border-radius: 5px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  padding-top: 0.48vh;
}

thead {
  width: 100%;
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.back,
.next {
  padding: 0;
  margin: 0;
  height: 2vh;
  width: 1vw;
}

.back,
.next,
.backMonth,
.nextMonth:hover {
  cursor: pointer;
}

.nextAndBackButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 80%;
}

.backMonth,
.nextMonth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.5vh;
  width: 0.75vw;
  margin: 0;
  padding: 0;
}

.month-and-year {
  display: flex;
  flex-direction: column;
  height: 6vh;
  padding: 1.5vh 0 0 0;
  margin: 0 0 2.5vh 0.3vw;
  gap: 1vh;
  width: 15vw;
}

.currentMonth {
  font-size: 3vh;
  color: grey;
  font-family: "Cousine", monospace;
  font-weight: light;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
}

.currentYear {
  font-family: "Cousine", monospace;
  font-weight: light;
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
  color: grey;
}

.month-nextAndBackButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 100%;
  margin: 0;
  padding: 0;
}

.week-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vw;
  width: 8vw;
  text-align: center;
  font-size: 1vw;
  padding: 10px;
  margin: 10px;
  background-color: #81c8e0;
  font-size: 1.5vw;
  border-radius: 15px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.week-header-two > :not(:first-child):hover {
  cursor: pointer;
}

.month-cell:hover {
  cursor: pointer;
}

.cell-new-habit-week {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 8vw;
  width: 14vw;
  text-align: center;
  font-size: 1vw;
  padding: 15px 10px 10px 11px;
  margin: 10px;
  background-color: #81c8e0;
  font-size: 1.5vw;
  border-radius: 20px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4vw;
  font-size: 1.2vw;
  text-align: center;
  font-weight: 500;
  width: 8vw;
  background-color: #81c8e0;
  border-radius: 15px;
  margin: 10px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.input-box-week {
  width: 10vw;
  background-color: #81c8e0;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 3vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 7px;
}

.input-box-week::placeholder {
  color: white;
}

.input-box-month::placeholder {
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  width: 100%;
  padding: 0 15vw 8vh 15vw;
  font-size: 1.8vh;
  gap: 3vh;
  line-height: 3.5vh;
}

.original-habit-tracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5vh;
}

h6 {
  font-size: 2.5vh;
  font-weight: bolder;
  letter-spacing: 4px;
  margin: 2vh 0 0 0;
}

h3 {
  font-size: 3.8vh;
  font-weight: bolder;
}

p {
  padding: 0;
  margin: 0;
}

.add-habit-x-button-week {
  font-size: 1.7vh;
  height: 1vh;
  padding: 0;
  margin: 0;
}

.add-habit-x-div-week {
  width: 100%;
}

.add-habit-x-div-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0;
  margin: 0 0 0 0;
  height: 100%;
}

.submit-button-month {
  border: none;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 3px;
  width: 3.5vw;
  height: 1.2vh;
  padding: 0.1vh 0vw 0.3vh 0.2vw;
  background-color: white;
  color: gray;
  margin: 0.1vh 0 0 0;
  font-size: 1.1vh;
  border-radius: 3px;
}

.option-month {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  font-size: 30vh;
  text-align: center;
}

.color-dropdown-week {
  background-color: #81c8e0;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.65vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0.5vh 0.5vh 0.5vh 0.5vh;
  margin: 0 0.5vw 0 0;
  outline: none;
  letter-spacing: 3px;
  text-align: center;
  width: 11vw;
}

.select-week {
  width: 100%;
}

.select-month {
  width: 100%;
  padding: -1vh 0 0 0;
  margin: 0;
  height: 100%;
}

.color-dropdown-week:hover {
  background-color: #add8e6;
}

.input-box-week:hover {
  background-color: #add8e6;
}

.input-box-month:hover {
  background-color: #add8e6;
  color: white;
}

.submit-button-week {
  border: none;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  letter-spacing: 3px;
  width: 4.3vw;
  height: 2vh;
  padding: 0.3vh 0.1vw 0 0.3vw;
  background-color: white;
  color: gray;
  margin: 0 0.5vw 0 0;
}

.submit-button-week:hover {
  background-color: #add8e6;
  color: white;
}

.submit-button-month:hover {
  background-color: #add8e6;
  color: white;
}

.days-habit-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4vw;
  font-size: 1.5vw;
  text-align: center;
  font-weight: 500;
  width: 8vw;
  background-color: #81c8e0;
  border-radius: 15px;
  margin: 10px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.month-days-habits-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3.5vw;
  font-size: 1.7vh;
  text-align: center;
  font-weight: 500;
  width: 8vw;
  background-color: #81c8e0;
  margin: 2.2px;
  border-radius: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.habit-table-month {
  margin: 0;
  padding: 0 0 0 0;
}

.add-habit-table {
  margin: 0 0 0 0;
  padding: 0;
}

.add-habit-row-month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.cell-new-habit-month {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 2.6vw;
  width: 8vw;
  text-align: center;
  font-size: 1.7vh;
  padding: 5px;
  margin: 0;
  background-color: #81c8e0;
  border-radius: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.add-habit-x-button-month {
  font-size: 1vh;
  height: 1.5vh;
  padding: 0;
  margin: 0;
  width: 0.75vw;
}

.input-box-month {
  width: 6vw;
  height: 1.6vh;
  padding: 0.3vh 0vw 0.1vh 0.35vw;
  margin: 0.1vh 0 0 0;
  background-color: #81c8e0;
  border: none;
  color: white;
  text-align: center;
  border-radius: 2.5px;
  font-size: 1.85vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 7px;
}

.color-dropdown-month {
  background-color: #81c8e0;
  border: none;
  border-radius: 3.5px;
  color: white;
  font-size: 1vh;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 1px;
  width: 6vw;
  text-align: center;
  padding: 0;
  margin: 0.05vh 0 0 0;
  height: 35%;
}

.color-dropdown-month:hover {
  background-color: #add8e6;
}

.month-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.5vw;
  width: 2.5vw;
  text-align: center;
  font-size: 1vw;
  padding: 5px;
  margin: 2.2px;
  background-color: #81c8e0;
  border-radius: 6px;
}

tr {
  padding: 0;
}

.no-data-message {
  font-size: 5vh;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: bolder;
  padding: 5vh;
}

.week-cell-habit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 8vw;
  width: 14vw;
  text-align: center;
  font-size: 1vw;
  padding: 1.4vh;
  margin: 10px;
  background-color: #81c8e0;
  font-size: 1.5vw;
  border-radius: 12px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.x-button-div-week {
  margin: 0;
  padding: 0;
  width: 1vw;
}

.x-button-week {
  width: 0.7vw;
  height: 1.5vh;
  font-size: 1.6vh;
  margin: 0;
  padding: 0;
}

.x-button-week:hover {
  cursor: pointer;
  color: gray;
}

.x-button-month:hover {
  cursor: pointer;
  color: gray;
}

.activity-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 0.75vw;
  padding-top: 0.3vh;
}

.month-cell-habit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 2.6vw;
  width: 8vw;
  text-align: center;
  font-size: 1.7vh;
  padding: 5px;
  margin: 2px 2px 0 0;
  background-color: #81c8e0;
  border-radius: 7px;
  font-family: "Cousine", monospace;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.x-button-div-month {
  margin: 0;
  padding: 0;
}

.x-button-month {
  width: 0.75vw;
  height: 1.5vh;
  font-size: 1vh;
  margin: 0;
  padding: 0;
}

.activity-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 0.75vw;
  padding-top: 0.3vh;
}

.month-view {
  width: 9.5vw;
  height: 4.5vh;
  font-size: 1.8vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
}

.week-view {
  width: 6.4vw;
  height: 3.5vh;
  font-size: 0.7vw;
  border: 1px solid black;
  border-radius: 9px;
}

.week-view:hover,
.month-view:hover {
  cursor: pointer;
  background-color: #add8e6;
  border: 1px solid #add8e6;
  color: white;
}
